/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    width: 880px;
    max-width: 100%;
    /* border: 1px solid gray; */
}
html, body {
    font-family: 'Titillium Web', sans-serif;
}
h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
body{

}
.navwrapper{
    margin: 2% 0;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    /* border:1px solid orange; */
	/* position: sticky;
	overflow: hidden;
	top: 0;
	z-index: 1337; */
}

#logo {
    max-height: 36px;
    max-width: 183px;
}
nav {
	display: flex;
	width: 100%;
	text-align: center;
	align-items: center;
}
nav .links {
    display:flex;
    /* border: 1px solid blue; */
    max-width: 75%;
}
nav .links a{
	text-decoration: none;
	color: grey;
	text-align: center;
	transition:all 0.6s;
}
nav .links a:hover{
	color: blue;
}
.top-header{
    display: flex;
    /* border: 1px solid greenyellow; */
    justify-content: right;
	padding: 7% 0%;
}
.top-header img {
    max-height: 379px;
    max-width: 379px;
}
.serv-header{
	margin: auto;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	padding: 3% 0%;
	width: 100%;
}

.innovation{
    /* border-color: red; */
    width: 49%;
	padding: 5% 0% 0% 10%;
}
h1{
	font-size: 70px;
	text-align: center;
}
.get-started{
	border: 1px solid black;
	padding: 3px 25px;
    width: 150px;
    height; 30px;
	margin: 0 auto;
    text-align: center;
    align-items: center;
}
h2 {
	font-size: 18px;
	text-align: left;
}
h3 {
	font-size: 28px;
	text-align: left;
}
.feature-content{
	border-top: 1px solid black;
	margin: auto;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding: 3% 0%;
	width: 100%;
}
.features {
	/*border: 2px solid green;*/
	width: 49%;
	padding: 0% 3% 0% 0%;
	text-align:left;
}

.features2 {
    width: 33%;
	text-align: left;
	padding: 0% 5% 0% 0%;
}

.bottom-content{
	border-bottom: 1px solid black;
    display: flex;
	padding: 3% 0%;
	width: 100%;
}
.learn {
	border: 1px solid black;
	border-radius: 4px;
	padding: 8px 25px;
	width: 37%;
	margin: 8px 0px;
	font-size: 12px;
	text-align: center;
}
.contact{
	display:flex;
    flex-direction: column;
    margin-top: 4%;
}
ul{
	list-style-type:square;
	padding-left: 1em;
}
footer {
	text-align: center;
	padding: 3% 0%;
}

@media (max-width: 800px){
    .top-header img {
        display: none;
    }
    nav {
        flex-direction: column-reverse;
    }
    .innovation {
        padding: 0;
    }
}

@media (max-width: 500px){
    .top-header img {
        display: none;
    }
    nav {
        flex-direction: column-reverse;
    }
    nav .links {
        display:flex;
        max-width: 100%;
        flex-direction: column;
        border-top: 1px solid black;
    }
    nav .links a{
        display:flex;
        border-bottom: 1px solid black;
        max-width: 100%;
        flex-direction: column;
        padding: 3% 0;
        font-size: 20px;
    }
    .innovation {
        padding: 0;
        width: 100%;
    }
    #logo {
        margin: 3% 0;
    }
    .feature-content{
        width: 95%;
    }
    .features {
        align-items: left;
        width: 100%;
        text-align: left;
        padding: 6% 0;
    }
    #middle-img {
        display: flex;
        width: 95%;
        align-items: center;
    }
    .bottom-content {
        width:95%;
        flex-direction: column;
        margin-bottom: 5%;
    }
    .features2 {
        align-items: left;
        width: 100%;
        text-align: left;
        padding: 4% 0;
    }
    .contact {
        width: 95%;
    }
}